In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib.inline

UsageError: Line magic function `%matplotlib.inline` not found.

In [3]:
df = pd.read_csv(r"https://raw.githubusercontent.com/aniyant/Datasets/main/insurance.csv")

In [6]:
df.shape

(1338, 7)

In [7]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'expenses'], dtype='object')

In [9]:
numerical_columns = [col for col in df.columns if df[col].dtypes != 'O']
numerical_columns

['age', 'bmi', 'children', 'expenses']

In [11]:
categorical_columns = [col for col in df.columns if col not in numerical_columns]
categorical_columns

['sex', 'smoker', 'region']

In [12]:
for col in categorical_columns:
    print(df[col].value_counts())

male      676
female    662
Name: sex, dtype: int64
no     1064
yes     274
Name: smoker, dtype: int64
southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [14]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
expenses    float64
dtype: object

In [22]:
train = pd.read_csv(r"C:\Users\aniyant\Desktop\archive\train.csv")

In [23]:
train

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.240006,-1.407653,1.594716,2.000087,0.000000,2.466093,0.000000,2.386865,0.000000,0.000000,0.00000,7228.22
1,-0.956142,-1.326148,-0.925736,2.000087,0.000000,2.466093,0.000000,0.000000,2.319606,0.000000,0.00000,3176.82
2,0.905811,1.281999,0.754565,0.000000,2.000087,2.466093,0.000000,0.000000,0.000000,0.000000,2.28841,10325.21
3,-0.454847,-0.592607,-0.085585,0.000000,2.000087,0.000000,2.466093,0.000000,0.000000,0.000000,2.28841,19040.88
4,0.547743,-0.413297,1.594716,0.000000,2.000087,0.000000,2.466093,0.000000,2.319606,0.000000,0.00000,24915.22
...,...,...,...,...,...,...,...,...,...,...,...,...
1065,-0.669687,-1.081634,-0.085585,0.000000,2.000087,2.466093,0.000000,0.000000,2.319606,0.000000,0.00000,4032.24
1066,1.120652,-0.869722,1.594716,2.000087,0.000000,2.466093,0.000000,2.386865,0.000000,0.000000,0.00000,13047.33
1067,0.547743,0.874476,-0.085585,0.000000,2.000087,0.000000,2.466093,0.000000,0.000000,2.254676,0.00000,42211.14
1068,-0.669687,-0.462200,-0.925736,2.000087,0.000000,2.466093,0.000000,2.386865,0.000000,0.000000,0.00000,4137.52
1069,0.118062,-0.022075,0.754565,0.000000,2.000087,2.466093,0.000000,0.000000,2.319606,0.000000,0.00000,7256.72

In [27]:
test = pd.read_csv(r"C:\Users\aniyant\Desktop\archive\test.csv")

In [28]:
test

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.311619,0.825573,-0.085585,2.000087,0.000000,2.466093,0.000000,0.0,2.319606,0.000000,0.00000,5630.46
1,0.189676,-0.396996,1.594716,0.000000,2.000087,0.000000,2.466093,0.0,2.319606,0.000000,0.00000,32787.46
2,-0.383233,-0.233987,1.594716,2.000087,0.000000,2.466093,0.000000,0.0,0.000000,2.254676,0.00000,6184.30
3,-1.385823,1.021184,3.275017,2.000087,0.000000,2.466093,0.000000,0.0,0.000000,0.000000,2.28841,4830.63
4,0.834198,1.982938,0.754565,0.000000,2.000087,0.000000,2.466093,0.0,0.000000,2.254676,0.00000,47462.89
...,...,...,...,...,...,...,...,...,...,...,...,...
263,1.192266,0.483254,-0.925736,0.000000,2.000087,2.466093,0.000000,0.0,2.319606,0.000000,0.00000,10976.25
264,-0.454847,1.477610,-0.085585,2.000087,0.000000,2.466093,0.000000,0.0,0.000000,2.254676,0.00000,4795.66
265,1.120652,-0.136181,-0.925736,0.000000,2.000087,2.466093,0.000000,0.0,0.000000,0.000000,2.28841,10214.64
266,-0.956142,-1.619565,-0.925736,0.000000,2.000087,2.466093,0.000000,0.0,0.000000,0.000000,2.28841,2302.30
267,1.263879,-0.331792,-0.925736,2.000087,0.000000,2.466093,0.000000,0.0,0.000000,0.000000,2.28841,11455.28

In [29]:
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [ ]:
19	female	27.9	0	yes	southwest